* {
    box-sizing: border-box;
}

html, body {
    color: #4f4f4f;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    color: #737373;
    font-size: 16px;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: center;
}

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60%;
    }

        nav ul li a {
            color: #4f4f4f;
            font-family: Raleway;
        }

            nav ul li a:hover {
                color: #c84d59;
                text-decoration: none;
            }

        nav ul li .logo {
            font-size: 3em;
            font-weight: 900;
        }

a {
    color: #c84d59;
    cursor: pointer;
    text-decoration: none;
}

    a:hover {
        color: #7a7a7a;
        text-decoration: underline;
    }

h2 a {
    color: #3c3c3c;
}

::selection {
    background: #b19a91;
    color: #FFF;
}

iframe::selection {
    background: inherit;
}

a::selection {
    background: #bba69d;
}

.card-object-image::selection {
    background: inherit;
}

footer {
    background-color: #303030;
    text-align: center;
}

.footer-logo {
    color: #FFF;
}

    .footer-logo:hover {
        color: #c84d59;
        text-decoration: none;
    }

@media (max-width: 1600px) {
    nav ul {
        width: 90%;
    }
}