html, body {
    text-align: center;
}

iframe {
    border: none;
}

.responsive-video {
    margin-top: 1em;
    height: 55.6vw;
    max-height: 1080px;
    max-width: 1920px;
    width: 98vw;
}

.abstract {
    max-width: 900px;
    margin: 0 auto;
}

p {
    margin: 0 1em 0 1em;
}