.container {
    text-align: center;
}

.container p {
    margin-left: 1em;
    margin-right: 1em;
}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

    .row div {
        margin-left: 2rem;
        margin-right: 2rem;
    }

.number {
    margin: 0;
    font-size: 1.3em;
}

iframe {
    border-width: 0;
}

.wrapper {
    margin-top: 50px;
}

    .wrapper h1 {
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

    #cards iframe {
        margin: 0.5em;
    }

#spotify-cards-reset {
    font-weight: bold;
}

.spotify-card-margin {
    margin: 0.5em;
}

p.adjacent-paragraph-bottom {
    margin-top: 0;
}

p.adjacent-paragraph-top {
    margin-bottom: 0;
}

/* Loading spinner while waiting for AJAX request for 'Hours of Music' */
.loading {
    margin-left: -1em;
}

    .loading:after {
        animation: dots 2s steps(1, end) infinite;
        content: ' .';
    }

@keyframes dots {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        text-shadow: .5em 0;
    }

    75% {
        text-shadow: .5em 0, 1em 0;
    }

    100% {
        text-shadow: .5em 0, 1em 0;
    }
}

@media (max-width: 680px) {
    .spotify-playlist {
        width: 450px;
    }

    .card {
        margin-bottom: 4em;
    }
}

@media (max-width: 580px) {
    .spotify-playlist {
        width: 450px;
    }

    #cards iframe {
        height: 80px;
        width: 320px;
    }
}

@media (max-width: 480px) {
    .spotify-playlist {
        width: 350px;
    }

    .row {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    .spotify-playlist {
        width: 250px;
    }
}

@media (max-width: 320px) {
    #spotify-latest-addition iframe {
        width: 260px;
    }

    .spotify-playlist {
        width: 230px;
    }

    #cards iframe {
        width: 260px;
    }
}

#table-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

table {
    border: none;
    border-collapse: collapse;
    line-height: 1.333em;
    margin: 0 auto;
    width: 50%;
}

    table th,
    table td {
        font-weight: normal;
        text-align: left;
        vertical-align: middle;
    }

    table thead th,
    table thead td {
        line-height: 1.250em;
        padding: 10px;
    }

    table thead tr th {
        width: 50%;
        font-size: 1.2em;
    }

.left {
    background-color: #aaaaaa;
    text-align: right;
    color: #FFF;
}

.right {
    background-color: #FFF;
    color: #aaaaaa;
}

table tbody th, table tbody td {
    padding: 7px 10px;
}

@media all and (max-width: 900px) {
    .row {
        justify-content: space-around;
    }

        .row div {
            margin-left: 0;
            margin-right: 0;
        }

    th.left {
        text-align: left;
    }

    table {
        width: 75%;
    }
}

@media all and (max-width: 575px) {
    #table-wrapper {
        overflow-x: scroll;
    }

    table {
        width: 100%;
    }

        table tbody th,
        table tbody td {
            width: 10%;
        }

        table tr .left {
            border-top: 1px solid #FFF;
        }

        table tr .right {
            border-top: 1px solid #aaaaaa;
        }

    thead tr th.right {
        border-top: 1px solid #FFF;
    }
}