@model URU.ViewModels.HomeViewModel

<div id="main-content">
    <div class="flex-body">
        <div class="flex-row" id="title">
            URU
        </div>
        <div class="flex-column">
            <h1>Adrian Reithaug</h1>
            <p>@StringLocalizer["FullStackDeveloper"]</p>
            <p>@StringLocalizer["Location"]</p>
            <div class="flex-row">
                <div id="social">
                    <a class="social-media" href="#" id="info" title="@StringLocalizer["Email"]"><span class="social-media-icon email-icon"></span></a>
                    <a class="social-media" href="https://github.com/Adrrei" title="GitHub"><span class="social-media-icon github-icon"></span></a>
                    <a class="social-media" href="https://www.linkedin.com/in/adrrei/" title="LinkedIn"><span class="social-media-icon linkedin-icon"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles  {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/home.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/bundle/css/home.min.css" asp-append-version="true">
    </environment>
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/home.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundle/js/home.min.js" asp-append-version="true"></script>
    </environment>
}