<div class="container">
    <h1>@StringLocalizer["Arrival"]</h1>
    <h2>@StringLocalizer["SorryFix"]</h2>
</div>

@section Styles  {
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/error.css" asp-append-version="true">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="~/bundle/css/error.min.css" asp-append-version="true">
    </environment>
}