body {
    background: linear-gradient(rgba(19, 29, 39, 1), rgba(0, 0, 0, 0.2)), url(/content/images/Landing.jpg) no-repeat center;
    background-size: cover;
    font-family: 'Red Hat Text';
    color: #FFF;
    align-items: center;
}

#main-content {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

h1, p, span {
    font-family: 'Raleway';
    color: #FFF;
}

#title {
    font-family: 'Signika';
    font-size: 14em;
}

    #title:hover {
        cursor: default;
    }

.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    margin-top: -1em;
    flex-direction: column;
    display: flex;
    align-self: center;
}

    .flex-column > h1, .flex-column > p, .flex-column > .flex-row {
        margin: 5px 0 0 10px;
    }

.flex-body {
    display: flex;
}

    .flex-body div:not([class*="flex"]) {
        border: 1px solid white;
        flex: 1 1 200px;
        width: 300px;
    }

#social .social-media {
    margin-right: 5px;
}

.social-media:hover {
    color: #FFF;
}

#social {
    border: none;
}

@media (max-width: 850px) {
    #title {
        display: none;
    }

    .flex-body {
        text-align: center;
    }
}