body {
    background: linear-gradient(rgba(19, 29, 39, 1), rgba(0, 0, 0, 0.2)), url(/content/images/Beach.jpg) no-repeat center;
    background-size: cover;
    color: #FFF;
    align-items: center;
}

p {
    color: #FFF;
}

.container {
    text-align: center;
    margin: 0 1em 0 1em;
}

.row {
    align-content: center;
    display: flex;
    justify-content: center;
}

td {
    align-items: center;
    border: solid 1px #fff;
    display: flex;
    font-size: 20pt;
    height: 7em;
    justify-content: center;
    width: 7em;
    background-color: rgba(255,255,255, 0.1);
}

    td:hover {
        color: #c84d59;
        cursor: pointer;
    }

input {
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    text-align: center;
    width: 25em;
    background: transparent;
}

    input:focus {
        border: none;
        border-bottom: 1px solid #c84d59;
        color: #c84d59;
        outline: none;
    }

    input:hover {
        border-bottom: 1px solid #c84d59;
    }

.row > p {
    font-size: 1.1em;
}

    .row > p:first-child {
        margin-right: 12em;
    }

    .row > p:last-child {
        margin-left: 12em;
    }

.newline {
    display: block;
}

.player-active {
    color: #30aa55;
    font-weight: bold;
}

.invisible {
    display: none;
}

.btn {
    border: 0;
    color: #c84d59;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.0875em;
    padding: 25px 25px;
    text-transform: uppercase;
    background-color: #FFF;
}

    .btn:hover {
        background-color: #c84d59;
        color: #FFF;
    }

.btn-ready {
    background-color: #c84d59;
    color: #FFF;
}

#results {
    animation-duration: 2s;
    animation-name: fadeInResult;
    cursor: default;
    font-size: 32em;
    left: 50%;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 44.5%;
    transform: translate(-50%, -70%);
}

@keyframes fadeInResult {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 33em;
    }
}

@keyframes fadeInResult600 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        font-size: 17em;
    }
}

@media (max-width: 600px) {
    .row > p:first-child, .row > p:last-child {
        margin-left: 5em;
        margin-right: 5em;
    }

    input {
        width: 14em;
    }

    td {
        width: 4em;
        height: 4em;
    }

    #results {
        animation-name: fadeInResult600;
        font-size: 16em;
        top: 39%;
        transform: translate(-50%, -100%);
    }
}

@media (max-width: 490px) {
    input {
        width: 14em;
    }

    .row > p:first-child, .row > p:last-child {
        flex: 1;
        margin: 1em 0 0 0;
    }
}

@media (max-width: 359px) {
    td {
        height: 3.5em;
        width: 3.5em;
    }

    input {
        width: 85%;
    }

    .row > p:first-child, .row > p:last-child {
        flex: 1;
        margin: 1em 0 0 0;
    }

    #results {
        font-size: 16em;
        top: 37%;
    }
}